In [3]:
import pandas as pd
from pathlib import Path
import xarray as xr
import matplotlib.pyplot as plt

In [4]:
%load_ext autoreload 
%autoreload 2

In [5]:
from is2kml import ds2df,kml2ds

In [6]:
fns = sorted( Path('/home/jovyan/shared-public/ICESat-2-Hackweek/KMLs').glob('*.kml')  )

In [8]:
fns[0].stem

'IS2_RGT_0001_cycle14_22-Dec-2021'

In [13]:
fns21 = [fn for fn in fns if fn.stem.split('_')[3]=='cycle21']
len(fns21)

1387

In [14]:
%%time
dflist = []
for i in range(100):
    fn = fns21[i]
    trknum = int( str(fn).split('_')[2] )
    ds = kml2ds(fn)
    df = ds2df(ds,trknum)
    dflist.append(df)
df_all = pd.concat(dflist)

CPU times: user 2.06 s, sys: 7.75 ms, total: 2.07 s
Wall time: 2.15 s

In [16]:
df_all

                          lat         lon  RGTID
2023-09-19 02:03:28  0.027959   -0.131847      1
2023-09-19 02:03:29  0.091968   -0.138250      1
2023-09-19 02:03:30  0.155977   -0.144652      1
2023-09-19 02:03:31  0.219986   -0.151055      1
2023-09-19 02:03:32  0.283995   -0.157457      1
...                       ...         ...    ...
2023-09-25 15:12:20 -0.362420  157.975620    100
2023-09-25 15:12:21 -0.298411  157.969218    100
2023-09-25 15:12:22 -0.234402  157.962816    100
2023-09-25 15:12:23 -0.170394  157.956413    100
2023-09-25 15:12:24 -0.106384  157.950011    100

[565638 rows x 3 columns]

In [9]:
df_all.to_parquet('./combined_kml.gzip',compression='gzip')